html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#container {
    display: flex;
    height: 100%;
    /* background-color: #f5f5f5;  */
	background-color: #ffffff
}

#sidebar {
    width: 300px;
    flex-shrink: 0;
    height: 100%;
    padding: 10px;
    background-color: #ffffff; 
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); 
    overflow-y: auto; 
}

.closebtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  border: none;
  margin: 0px 0px;
   
  /* position: absolute; */
  /* top: 0; */
  /* right: 25px; */
  /* font-size: 36px; */
  /* margin-left: 50px; */
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  border: none;
  margin: 0px 0px;
  /* transition: background-color 0.3s; */
  /* background-color: #3386c0; */
}

/*
.sidebar_small {
    width: 10%;
}

.main_content_small{
    width: 90%;
}
*/

button {
    font: bold 14px 'Roboto', sans-serif;
    background-color: #3386c0;
    color: #fff;
    border: none;
    /* width: calc(100% - 40px); /* Full-width minus padding */ */
    margin: 10px 10px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    word-wrap: normal; 
}

button:hover {
    background-color: #4ea0da;
}

/* .button-wrap{
    margin-left: 5px;
    margin-right: 5px;
} */

.ui-grid-b{
    display: grid;
	grid-template-rows: 100px 100px;
	grid-template-columns: 100px 100px 100px;
}

/* For the output boxes */
#output, .elevation-info {
    background-color: #fff;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 10px;
    margin-top: 10px;
	margin-bottom: 10px;
    font-size: 16px;
    color: #333; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

/* .distance-container, .elevation-info {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
} */

#map {
    height: auto;
    width: auto;
    flex-grow: 1; /* Ensure map takes remaining space */
}

.mapboxgl-ctrl-icon{
	padding: 0px;
}